*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  place-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 1140px;
  block-size: 534px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result {
  margin-bottom: 3px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  overflow: hidden;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  cursor: default;
  outline: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  }

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  inline-size: fit-content;
  appearance: none;
  align-items: center;
}

.search-form__label-text {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #FFFFFF;
  cursor: pointer;
  align-items: center;
}

.search-form__textfield {
  border-top: 1px;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
  border-color: #FFFFFF;
  border-style: solid;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
  outline: none;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: rgb(255 255 255/0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
}

.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  margin-right: 7px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  position: relative;
  margin: 1px;
}

.button {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  min-height: 33px;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: end;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  gap: 23px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 324px;
  overflow: hidden scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  overflow: hidden;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: #FFFFFF;
  padding: 0 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  min-height: 103px;
  object-fit: cover;
}

.more-button {
  inline-size: 399px;
  margin-bottom: 2px;
}

/* состояния */

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}